
/* GENERAL MATTERS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 0 32px;
}



/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
}

.nav__logoword {
    height: 50%;
    display: flex;
    align-items: center;
}

.nav__logoword--logo {
    height: 100%;
    padding-right: 8px;
}

.nav__logoword--image {
    height: 100%;
}

.nav__logoword--treact {
    font-weight: 900;
}