
/* GENERAL MATTERS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 0 32px;
}



/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
}

.nav__logoword {
    height: 70%;
    display: flex;
    align-items: center;
}

.nav__logoword--logo {
    height: 100%;
    padding-right: 8px;
}

.nav__logoword--image {
    height: 100%;
}

.nav__logoword--treact {
    font-weight: 900;
}

.nav__navlinks {
    display: flex;
}

.nav__sectionlink,
.nav__accountlink {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #243E43;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    transition: all 150ms ease;
}

.hover__underline:hover {
    border-bottom-width: 4px;
    color:#6415FF;
}

.nav__sectionlink {
    margin-right: 36px;
}

.nav__accountlink {
    margin-right: 24px;
}

.nav__sectionlinks {
    padding-right: 36px;
}

.nav__accountlink--purple {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    padding: 12px 32px;
    background-color: #6415FF;
    border-radius: 9999px;
}

.nav__accountlink--purple {
    
}

